argparse==1.2.1
boto3==1.4.3
botocore==1.4.91
cffi==1.9.1
cryptography==1.7.1
docutils==0.13.1
enum34==1.1.6
futures==3.0.5
idna==2.2
ipaddress==1.0.17
jmespath==0.9.0
ndg-httpsclient==0.4.2
pyOpenSSL==16.2.0
pyasn1==0.1.9
pycparser==2.17
python-dateutil==2.6.0
requests==2.12.4
s3transfer==0.1.10
six==1.10.0
wsgiref==0.1.2
